- var buttonStyle = theme.banner.button_style ? 'button-' + theme.banner.button_style : 'button-solid'

#swiper
  .swiper-container
    //- 这里为轮播图
    .swiper-wrapper
      if theme.banner.enable
        each item in theme.banner.wrapper
          .swiper-slide
            img.swiper-img(src=url_for(item.img) alt=item.introduce.title)
            if item.introduce.position
              .container.box
                .introduce
                  div(class=item.introduce.position)
                    - var whiteTitle = item.introduce.white_title ? 'font-white' : ''
                    p.introduce-title(class=whiteTitle)=item.introduce.title
                    p.introduce-subtitle(class=whiteTitle)=item.introduce.subtitle
                    if item.introduce.button_title && item.introduce.button_url
                      a.cta-blue(class=whiteTitle+' '+buttonStyle  href=url_for(item.introduce.button_url))
                        !=item.introduce.button_title
                        //- 按钮标题后面加 > 号，先使用文字解决，以后换个按钮样式

    //- 画面底部显示进度
    .swiper-pagination