.nav-menu
  .container
    nav.navbar-menu
      ul.menu-list
        each value, label in theme.menu
          if typeof value !== 'object'
            - const valueArray = value.split('||')
              li.menu-item
                a.menu-link(href=url_for(trim(valueArray[0])))
                  if valueArray[1]
                    i.fa-fw(class=trim(valueArray[1]))
                  span=' '+label
          else
            - const labelArray = label.split('||')
            li.menu-item.menu-item-children
              a.menu-link(href='javascript:void(0);')
                if labelArray[1]
                  i.fa-fw(class=trim(labelArray[1]))
                span=' '+ trim(labelArray[0])
                .menu-dropdown-icon
                  svg.menu-dropdown-svg(viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M4.002 4.6a.54.54 0 0 0 .407-.18L7.85.895C7.95.796 8 .674 8 .525A.518.518 0 0 0 7.48 0a.536.536 0 0 0-.379.158l-3.099 3.18L.903.158A.544.544 0 0 0 .524 0 .519.519 0 0 0 0 .525c0 .144.054.271.154.37L3.596 4.42c.117.122.253.181.406.181Z' fill='currentColor')
              .menu-dropdown
                ul.menu-list.menu-list-nested
                  each val, lab in value
                    - const valArray = val.split('||')
                    li.menu-item.menu-item-no-children
                      a.menu-link(href=url_for(trim(valArray[0])))
                        if valArray[1]
                          i.fa-fw(class=trim(valArray[1]))
                        span=' '+lab