.nav-menu
  .container
    nav.navbar-menu
      ul.menu-list
        each value, label in theme.menu
          if typeof value !== 'object'
            - const valueArray = value.split('||')
              li.menu-item
                a.menu-link(href=url_for(trim(valueArray[0])))
                  if valueArray[1]
                    i.fa-fw(class=trim(valueArray[1]))
                  span=' '+label
          else
            - const labelArray = label.split('||')
            li.menu-item.menu-item-children
              a.menu-link(href='javascript:void(0);')
                if labelArray[1]
                  i.fa-fw(class=trim(labelArray[1]))
                span=' '+ trim(labelArray[0])
                .menu-dropdown-icon
                  svg(viewBox='0 0 1024 1024' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M840.4 300H183.6c-19.7 0-30.7 20.8-18.5 35l328.4 380.8c9.4 10.9 27.5 10.9 37 0L858.9 335c12.2-14.2 1.2-35-18.5-35z' fill='currentColor')
              .menu-dropdown
                ul.menu-list.menu-list-nested
                  each val, lab in value
                    - const valArray = val.split('||')
                    li.menu-item.menu-item-no-children
                      a.menu-link(href=url_for(trim(valArray[0])))
                        if valArray[1]
                          i.fa-fw(class=trim(valArray[1]))
                        span=' '+lab